.galleryContainer {
  position: relative;
}

.galleryContainer img {
  height: 415px;
  width: 100%;
  border-radius: 25px;
}

.arrowContainer {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px;
}

.arrow {
  display: block;
  cursor: pointer;
  padding: 5px;
}

.indexContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}
