.cardWrap {
  margin-bottom: 2rem;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  width: 100%;
  overflow: hidden;
}

.cardImage {
  display: block;
  border-radius: 10px;
  aspect-ratio: 1/1;
}

.cardTitle {
  width: 50%;
  position: absolute;
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  left: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
