.cardContainer {
  width: 100%;
  margin-top: 2rem;
  padding: 3rem;
  background-color: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  gap: 3rem;
}
