:root {
  --main-color: #ff6060;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  object-fit: cover;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
  font-size: 24px;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

/* basic margins for all pages */
main {
  margin: 0 100px;
  max-width: 1400px;
}

.homeLink.active {
  text-decoration: underline;
}
