.bannerWrap {
  position: relative;
  text-align: cente;
  margin-top: 2rem;
}

.imageContainer {
  background-color: #000;
  border-radius: 25px;
  height: 180px;
  width: 100%;
}

.bannerImg {
  width: 100%;
  height: 180px;
  border-radius: 25px;
  opacity: 0.7;
}

.bannerTitle {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
}
